/*    _   _   _   _  
  / \ / \ / \ / \ 
 ( B | o | d | y )
  \_/ \_/ \_/ \_/  */
body .intro,
body .instruction,
body .game {
  position: absolute;

  /* top:0 left:0 right:0 bottom:0 */
  inset: 0;

  display: none;
}

.mainBtn {
  display: inline-flex;
  width: fit-content;
  height: 48px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #FD9757;
  color: #FFF;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.mainBtn:hover {
  background: #FDC57B;
}

/*    _   _   _   _     _   _   _   _  
  / \ / \ / \ / \   / \ / \ / \ / \ 
 ( B | o | d | y ) ( s | t | e | p )
  \_/ \_/ \_/ \_/   \_/ \_/ \_/ \_/  */
body.step1 .intro {
  display: flex;
}
body.step2 .instruction {
  display: flex;
}
body.step3 .game {
  display: flex;
}
.hidden {
  display: none;
}

/*    _   _   _   _   _  
  / \ / \ / \ / \ / \ 
 ( I | n | t | r | o )
  \_/ \_/ \_/ \_/ \_/  */
.intro {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.introContent {
  display: flex;
  flex-direction: column;
  margin: auto 10vw auto auto;
  z-index: 100;
}

.intro img {
  position: absolute;
  bottom: 0;
  width: 50%;
}

.introHeading1 {
  font-family: Modak;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(316deg, #079E91 0%, #7FA99B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.introHeading2 {
  text-align: center;
  font-family: Modak;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background: linear-gradient(316deg, #FF731C 0%, #FDC57B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.gourmande {
  background-image: url(images/gourmande.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

#start {
  margin: 2rem auto 0 auto;
}

/*
██ ███    ██ ███████ ████████ ██████  ██    ██  ██████ ████████ ██  ██████  ███    ██ 
██ ████   ██ ██         ██    ██   ██ ██    ██ ██         ██    ██ ██    ██ ████   ██ 
██ ██ ██  ██ ███████    ██    ██████  ██    ██ ██         ██    ██ ██    ██ ██ ██  ██ 
██ ██  ██ ██      ██    ██    ██   ██ ██    ██ ██         ██    ██ ██    ██ ██  ██ ██ 
██ ██   ████ ███████    ██    ██   ██  ██████   ██████    ██    ██  ██████  ██   ████ 
*/

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
}

.instructionHeading {
  color: #394A51;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 5rem;
}

ol {
  max-width: 37rem;
  text-align: left;
  font-family: Quicksand;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 1rem 0 2rem;
  padding: 2rem 4rem;
  background: #FCFEEC;
  border-radius: 40px;
}

li {
  
  margin-bottom: 1rem;
}

#play {
  height: 50px;
  margin-bottom: 50px;
}

/*
 ██████   █████  ███    ███ ███████ 
██       ██   ██ ████  ████ ██      
██   ███ ███████ ██ ████ ██ █████   
██    ██ ██   ██ ██  ██  ██ ██      
 ██████  ██   ██ ██      ██ ███████ 
*/

.game {
  background-image: url(images/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Quicksand;
  font-weight: 700;
}

/* nav bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  margin-top: 0;
  font-family: Quicksand;
  font-weight: 700;
}

.navBarItem {
  display: flex;
  align-items: center;
}

#scoreBar {
  padding: 0 1rem;
  height: fit-content;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(2px);
  color: #FF731C;
}

#scoreBar h2,
span {
  font-size: 2rem;
  line-height: 0.2;
  color: #FF731C;
}

#score {
  color: #FF731C;
}

span {
  margin-left: 1rem;
}

#timeBar {
  padding: 0 1rem;
  height: fit-content;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(2px);
  color: #079E91;
}

#timeBar h2,
span {
  color: #079E91;
  font-size: 2rem;
  line-height: 0.2;
}

#startGame {
  font-size: 2rem;
  padding: 1.8rem;
}

/* client */
#clients {
  display: flex;
  justify-content: center;
}

.clientContainer {
  position: relative;
  padding: 0px 150px;
  margin-left: 0;
  margin-right: 80px;
}

.client {
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#clientLeft,
#clientRight {
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.satisfaction-bar {
  position: absolute;
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: green;
}

.client {
  position: absolute;
  top: 100px;
  width: 100px;
  height: 100px;
}

.client-left {
  animation: slideInFromLeft 3s forwards;
}

.client-right {
  animation: slideInFromRight 3s forwards;
}

@keyframes slideInFromLeft {
  0% {
    left: -1000px;
  }
  100% {
    top: 400px;
    left: 100px;
  }
}

@keyframes slideInFromRight {
  0% {
    right: -1000px;
  }
  100% {
    top: 400px;
    right: 100px;
  }
}

@keyframes slideOutToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -1000px;
  }
}

@keyframes slideOutToRight {
  0% {
    right: 0;
  }
  100% {
    right: -1000px;
  }
}

#clientLeft {
  margin-left: 0px;
}

#clientLeftImg,
#clientRightImg {
  height: 400px;
}

#satisfactionBar {
  border: 1px solid black;
}

.satisfactionBar {
  height: 100px;
  position: absolute;
  left: 50px;
}

.speechBubble {
  height: 250px;
  bottom: 30px;
  width: 150px;
  position: absolute;
  right: 0px;
}

.orderTop {
  height: 40px;
  position: absolute;
  bottom: 200px;
  right: 40px;
}

.orderBottom {
  height: 40px;
  position: absolute;
  bottom: 120px;
  right: 40px;
}

/* table */
#table {
  display: flex;
  justify-content: space-around;
  background-image: url(images/table.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* bowls */
#bowls {
  display: flex;
  flex-direction: column;
}

.bowl {
  width: 150px;
  height: 150px;
}

/* plateWithCrepe */
#plates {
  display: flex;
  align-items: center;
}

.plateContainer {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plate {
  height: 150px;
}

.plateContainerBtn {
  width: 50px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  background-color: brown;
  color: white;
  border-style: none;
  border-radius: 10px;
  font-family: Quicksand;
  font-weight: 700;
}

.plateContainerBtn:hover {
  background-color: salmon;
}



/* crepeMakers */
#crepeMakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#crepeMakers div {
  position: relative;
}

.cookTimeClock {
  height: 50px;
  position: absolute;
  right: -30px;
}

.crepeMaker {
  height: 100px;
}

.timeBar {
  height: 50px;
}

#resultContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  z-index: 100;
}

#result {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  z-index: 100;
}
